{% extends 'base.html' %} 
{% load static %} 

{% block title %}InspireSphere | Startups{% endblock %}

{% block body %}
  <section id="values" class="values mt-5 pt-5">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h2>Startups</h2>
        <p>Early Stage Startups</p>
      </header>

      <div class="row">
        {% for startup in startups %}

        <div class="col-lg-4 mb-3" data-aos="fade-up" data-aos-delay="200">
          <a href="{{startup.link}}" style="text-decoration: none;" target="_blank">
            <div class="box">
              <img src="{{startup.photo.url}}" class="img-fluid" alt="">
              <h3>{{startup.title}}</h3>
              <p>{{startup.description}}</p>
            </div>
          </a>
        </div>
          
        {% endfor %}

      </div>

    </div>

  </section>
{% endblock %}

